// padding and background colors //

/***************************************************************************
                            WRAPPER SECTION
****************************************************************************/
.wrapper {
  background: url('../img/background-desk.png') center center no-repeat;
  background-size: cover;
  height: 800px;

  h2 {
    font-size: rem-calc(72);
    line-height: rem-calc(80);

    span {
      color: $medium-gray;
    }

    @include breakpoint(small only) {
      font-size: rem-calc(36);
      line-height: rem-calc(40);
    }
  }

  @include breakpoint(small only) {
    background-position: right;
    height: 500px;

  }

  @include breakpoint(medium only) {

  }
}

/***************************************************************************
                            ABOUT SECTION
****************************************************************************/
.about {
  padding: rem-calc(60) 0;

  p {
    color: $medium-gray;
    font-size: rem-calc(21);
    line-height: rem-calc(30);
  }

    @include breakpoint(small only) {

    h2 {
      font-size: rem-calc(36);
      line-height: rem-calc(40);
    }
  }
}
/***************************************************************************
                            WORK SECTION
****************************************************************************/

.work {
  padding: rem-calc(60) 0;
  background: $primary-color;

   h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: rem-calc(24);
  }

  p{
    font-family: 'Lora', serif;
    font-size: rem-calc(18);
    line-height: rem-calc(30);
  }

  img {
    padding-bottom: 30px;
  }
}

.featured-skills {
  text-align: center;
}
/***************************************************************************
                            CONTACT SECTION
****************************************************************************/

.contact {
  padding: rem-calc(60) 0;
  background: $light-gray;
}
