<div class="title-bar show-for-small-only">
  <div class="title-bar-left">
    <span class="logo-name">Laurelicte</span>
  </div>
  <div class="title-bar-right">
    <button class="menu-icon" type="button" data-open="offCanvasLeft"></button>
  </div>
</div>

<div class="top-bar show-for-medium">
  <div class="top-bar-left">
    <h1 class="logo-name">Laurelicte</h1>
  </div>
  <div class="top-bar-right">
    <ul class="menu" data-magellan>
      <li><a href="#about">ABOUT</a></li>
      <li><a href="#work">WORK</a></li>
      <li><a href="#contact">CONTACT</a></li>
    </ul>
  </div>
</div>

